<h2 class="section__title">Mina projekt</h2>
<article class="projects">
    <div class="project">
        <div class="wrapper">
            <a href="/projects/brainfunc-beats" class="project__link-wrapper" (click)="showAlert()">
                <img class="project__image" src="assets/images/Brainfunc.png" alt="Brainfunc Logo">
                <div class="content">
                    <h3>
                        App för Hjärnträning
                    </h3>
                    <p>
                        Beats är en del av Brainfunc-appen som tränar minnet, koncentrationen och reaktionsförmåga genom taktkänsla.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="wrapper">
            <a href="/projects/zapt" class="project__link-wrapper" (click)="showAlert()">
                <img class="project__image" src="assets/images/Zapt.png" alt="OlaviProductions Logo">
                <div class="content">
                    <h3>
                        Gränssnitt för app
                    </h3>
                    <p>
                        UI för en app som hjälper användare att hitta laddstationer för elbilar.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="wrapper">
            <a href="/projects/olaviproductions" class="project__link-wrapper" (click)="showAlert()">
                <img class="project__image" src="assets/images/OlaviProductions.png" alt="OlaviProductions Logo">
                <div class="content">
                    <h3>
                        Portfolio Webbsida
                    </h3>
                    <p>
                        En portfolio-sida för att visa upp mina projekt och färdigheter inom videoproduktion.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="wrapper">
            <a href="/projects/idag-och-inatt" class="project__link-wrapper" (click)="showAlert()">
                <img class="project__image" src="assets/images/IdagInatt.png" alt="Idag & Inatt Logo">
                <div class="content">
                    <h3>
                        Webbsida och PR-material
                    </h3>
                    <p>
                        En webbsida och inlägg för sociala medier samt materialet till dessa. Detta gjordes till det årliga eventet Idag & Inatt.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="wrapper">
            <a href="/projects/gonzalos" class="project__link-wrapper" (click)="showAlert()">
                <img class="project__image" src="assets/images/Gonzalos.png" alt="Pizzeria Gonzalos Logo">
                <div class="content">
                    <h3>
                        Webbsida i React
                    </h3>
                    <p>
                        En webbsida för en pizzeria som visar upp deras meny och kontaktinformation. Denna byggdes först i HTML/CSS och sedan i React.
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="project">
        <div class="wrapper">
            <a href="/projects/jokofo" class="project__link-wrapper" (click)="showAlert()">
                <img class="project__image" src="assets/images/JokofoLogo.png" alt="JokofoLofo Logo">
                <div class="content">
                    <h3>
                        Produktutveckling & Design
                    </h3>
                    <p>
                        Ett grafiskt gränssnitt för app, grafisk profil, logotyp och produktidé utvecklades.
                        Denna produkt som även 3D-modellerades är en kylskåpsassistent.
                    </p>
                </div>
            </a>
        </div>
    </div>
</article>