<h2 class="section__title">Mina projekt</h2>
<article class="projects">
    <div class="project">
        <a href="/projects/brainfunc-beats" class="project__link-wrapper">
            <img class="project__image" src="assets/images/Brainfunc.png" alt="Brainfunc Logo">
            <div class="project__info" data-side="left">
                <div class="project__header">
                    <h3 class="project__title">
                        Brain training
                    </h3>
                </div>
                <p class="project__description">
                    UI for a brain training application.
                </p>
                <ul class="project__roles">
                    <li class="project__role">
                        <div class="tag">
                            Presentation
                        </div>
                    </li>
                    <li class="project__role">
                        <div class="tag">
                            UX research
                        </div>
                    </li>
                    <li class="project__role">
                        <div class="tag">
                            UI design
                        </div>
                    </li>
                </ul>
            </div>
        </a>
    </div>
    <div class="project">
        <a href="/projects/zapt" class="project__link-wrapper">
            <img class="project__image" src="assets/images/Zapt.png" alt="EV Charger Finder">
            <div class="project__info" data-side="left">
                <div class="project__header">
                    <h3 class="project__title">
                        EV Charger Finder
                    </h3>
                </div>
                <p class="project__description">
                    UI for an innovative charge-finder for electric vehicles.
                </p>
                <ul class="project__roles">
                    <li class="project__role">
                        <div class="tag">
                            Presentation
                        </div>
                    </li>
                    <li class="project__role">
                        <div class="tag">
                            UX research
                        </div>
                    </li>
                    <li class="project__role">
                        <div class="tag">
                            UI design
                        </div>
                    </li>
                </ul>
            </div>
        </a>
    </div>
    <div class="project">
        <a href="/projects/zapt" class="project__link-wrapper">
            <img class="project__image" src="assets/images/OlaviProductions.png" alt="OlaviProductions Logo">
            <div class="project__info" data-side="left">
                <div class="project__header">
                    <h3 class="project__title">
                        Portfolio Website
                    </h3>
                </div>
                <p class="project__description">
                    UI for an online portfolio of a freelance videographer.
                </p>
                <ul class="project__roles">
                    <li class="project__role">
                        <div class="tag">
                            Presentation
                        </div>
                    </li>
                    <li class="project__role">
                        <div class="tag">
                            UX research
                        </div>
                    </li>
                    <li class="project__role">
                        <div class="tag">
                            UI design
                        </div>
                    </li>
                </ul>
            </div>
        </a>
    </div>
</article>