<div class="om-mig">
    <div class="om-mig-text">
        <h1>Bonjour!</h1>
        <h1>Jag är Anton.</h1>
        <p>
            En passionerad civilingenjörsstudent som brinner för att förbättra 
            användarupplevelser genom kreativitet och innovation. Jag strävar alltid 
            mot att göra teknologi mer intuitiv och meningsfull för alla användare 
            genom design så väl som genom utveckling.
        </p>
    </div>
    <div class="om-mig-bild">
        <img class="profilbild" src="assets/images/anton.png" alt="Bild på Anton Olavi">
    </div>
</div>
<div class="utbildning">
    <div class="utbildning-bild">
        <img class="bocker" src="assets/images/books.png" alt="Bild på böcker">
    </div>
    <div class="utbildning-text">
        <h2>Min utbildning</h2>
        <p>
            Idag studerar jag mitt tredje år på Civilingenjörsprogrammet inom 
            Interaktion & Design. På denna utbildning lär jag mig konsten att 
            skapa användarvänliga gränssnitt mellan människa och maskin. 
            I skolan utvecklar jag allt från appar till digitala tjänster, 
            alltid med användarens behov i fokus.
        </p>
    </div>
</div>
